@charset "utf-8";

#wrap{
    width: 100%;
}
/* 최상단 */
#topBn{
    position: relative;
}
.bn_img img{
    width: 100%;
    height: auto;
}
.bn_pc{
    display: none;
}
.bn_point{
    position: absolute;
    left: 2px;
    bottom: 3px;
}
.bn_point ul{
    display: flex;
}
.bn_point li{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 10px;
    text-indent: -9999px;
}
.bn_point .bn_p1{
    background-color: red;
}
/* 헤더 메인 */
#main_header{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
}
.h_pc1{
    display: none;
}
.h_pc2{
    display: none;
}
#main_list{
    display: none;
}
.mh_in{
    position: relative;
    display: flex;
}
.mh_in .material-icons-outlined{
    width: 80%;
    padding-top: 17px;
    padding-left: 10px;
    text-align: left;
}
.main_logo{
    width: 40%;
    padding: 14px 0 0 0;
    margin: 0 auto;
    z-index: 2;
}
.main_logo img{
    width: 120px;
    height: auto;
}
.tik{
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-right: 10px;
    text-align: right;
}
.tik a{
    display: inline-block;
    width: 100px;
    height: 32px;
    background-color: #ed1c24;
    border-radius: 21px;
    overflow: hidden;
    color: #ffff;
    text-align: center;
    line-height: 30px;
    font-size: 0.83rem;
    font-weight: 700;

}
.tik a::before{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 2px;
    margin-right: 2px;
    background-image: url(../img/smart_icon.png);
    background-size: 18px;
    vertical-align: middle;
}
/* 메인 타이틀 */
#main_title_pc{
    display: none;
}
.mt_img{
    display: block;
    height: 160px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/subvisual_02.jpg);
    text-indent: -9999px;
}
.mt_more ul{
    margin-top: -40px;
    display: flex;
    background-color: #fff;
}
.mt_more ul li{
    border-right: 1px solid #e5e5e5;
}
.imoji a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../img/diagram.png);
    background-color: #ed1c24;
    background-repeat: no-repeat;
    background-position: 0px -298px;
    text-indent: -9999px;
}
.syokai{
    width: 50%;
    line-height: 39px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: top 16px right 10px;
    background-size: 9px;
    background-image: url(../img/i.slider-arrow-next.png);
}
.syokai a{
    padding-right: 115px;
    color: #000;
}
.attraction{
    width: 50%;
    line-height: 39px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: top 16px right 10px;
    background-size: 9px;
    background-image: url(../img/i.slider-arrow-next.png);
}
.attraction a{
    padding-right: 115px;
    color: #000;
}
/* 메인 1 */
.main1{
    margin-top: 50px;
    margin-bottom: 30px;
}
.m1_top{
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
}
.m1_title{
    width: 60%;
    height: 60px;
    line-height: 54px;
    font-weight: 500;
    color: #252525;
    font-size: 1.67rem;
}
.m1_etc{
    display: flex;
}
.m1_01 a{
    display: inline-block;
    width: 35px;
    height: 32px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: -3px -603px;
    background-image: url(../img/diagram.png);
}
.m1_02 a{
    display: inline-block;
    width: 35px;
    height: 32px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: -3px -403px;
    background-image: url(../img/diagram.png);
}
.m1_03, .m1_pc{
    display: none;
}
.m1_03 a{
    display: inline-block;
    width: 35px;
    height: 32px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: -3px -503px;
    background-image: url(../img/diagram.png);
}
.sec_pc{
    display: none;
}
.m1b_in{
    height: auto;
    background-color: #f4f4f4;
    padding: 20px 0;
}
.tema{
    display: flex;
    padding: 0 10px;
}
.tema ul{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
}
.tema li{
    width: 20%;
    padding-bottom: 20px;
}
.tema li::before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin: 0 5px 0 0;
    background-image: url(../img/sign.png);
    background-repeat: no-repeat;
    background-position: -149px -850px;
    background-size: 350px;
}
.tema a{
    color: #222;
}
.ki{
    position: relative;
    width: 100%;
    display: flex;
    padding: 0 10px;
    padding-top: 20px;
}
.ki ul{
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px
}
.ki li{
    color: #d6cfcf;
}
.pick{
    position: absolute;
    top: 50px;
    left: 33.3%;
}
.pick a{
    padding-top: 35px;
    background-image: url(../img/point.png);
    background-repeat: no-repeat;
    background-position: top 0 left 10px;
    width: 23px;
    height: 23px;
    color: #222;
    font-weight: 500;
}
.progress{
    width: 350px;
    height: 0.8em;
    text-align: left;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #c5c5c5;
    margin-right: 10px
}
.sec{
    margin-top: -15px;
    width: 100px;
    height: 84px;
    line-height: 85px;
    color: #fff;
    background-color: #ed1c24;
}
.sec a{
    font-weight: 500;
    color: #fff;
    padding-right: 10px;
    padding-left: 35px;
    width: 15px;
    height: 15px;
    background-image: url(../img/diagram.png);
    background-repeat: no-repeat;
    background-position: -288px -163px;
}
/* 메인 2 */
.main2{
    margin-bottom: 30px;
}
.m2_in{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.m2_title{
    padding-top: 50px;
    font-size: 1rem;
    color: #000;
}
.m2_out{
    text-align: center;
    font-size: 0.89rem;
    color: #ed1c24;
}
/* 메인 3 */
.main3{
    margin-bottom: 30px;
}
.m3_in{
    box-sizing: border-box;
    width: 100%;
}
.m3_content{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.m3_content li{
    position: relative;
    width: calc(100% / 2);
    box-sizing: border-box;
    padding: 10px 5px;
    margin-bottom: 15px;
}
.c3_in{
    position: relative;
    margin-bottom: 15px;
}
.c_in{
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    font-weight: 300;
    font-size: 0.78rem;
    color: #fff;
    padding: 4px 8px;
    border-radius: 0 0 5px 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.c_name{
    font-weight: 700;
    font-size: 1.11rem;
    letter-spacing: -1px;
    color: #707070;
    margin-bottom: 5px;
}
.c_txt{
    font-size: 0.86rem;
    color: #555;
    font-weight: 200;
}
.c3_01 img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.c3_02 img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.c3_03 img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.c3_04 img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.c3_05 img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.c3_06 img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.c3_07 img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.c3_08 img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.c3_09 img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.c3_10 img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
/* 더보기 */
.main4{
    margin-bottom: 30px;
}
.m4_in{
    text-align: center;
}
.m4_in a{
    display: inline-block;
    height: 50px;
    line-height: 46px;
    padding: 0 63px 0 33px;
    border: 1px solid #979797;
    border-radius: 25px;
    font-size: 1.17rem;
    color: #676767;
    background-image: url(../img/sign.png);
    background-repeat: no-repeat;
    background-position: top -702px right -240px;
    cursor: pointer;
}
/* 푸터 */
#footer1{
    position: relative;
    display: flex;
    background-color: #2f3336;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding-top: 15px;
}
.face a{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #4589ce;
    background-image: url(../img/ci.png);
    background-repeat: no-repeat;
    background-position: 50% -10px;
    background-size: 82px;
    border-radius: 16px;
    margin: 0 5px;
    text-indent: -9999px;
}
.blog a{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #3eb852;
    background-image: url(../img/ci.png);
    background-repeat: no-repeat;
    background-position: 50% -256px;
    background-size: 82px;
    border-radius: 16px;
    margin: 0 5px;
    text-indent: -9999px;
}
.ins a{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #7231a3;
    background-image: url(../img/ci.png);
    background-repeat: no-repeat;
    background-position: 50% -339px;
    background-size: 82px;
    border-radius: 16px;
    margin: 0 5px;
    text-indent: -9999px;
}
.youbu a{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #e62c28;
    background-image: url(../img/ci.png);
    background-repeat: no-repeat;
    background-position: 50% -421px;
    background-size: 82px;
    border-radius: 16px;
    margin: 0 5px;
    text-indent: -9999px;
}
.tictok a{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #000;
    background-image: url(../img/ci.png);
    background-repeat: no-repeat;
    background-position: 50% -1157px;
    background-size: 82px;
    border-radius: 16px;
    margin: 0 5px;
    text-indent: -9999px;
}
.kakao a{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #e7b919;
    background-image: url(../img/ci.png);
    background-repeat: no-repeat;
    background-position: 50% -1203px;
    background-size: 82px;
    border-radius: 16px;
    margin: 0 5px;
    text-indent: -9999px;
}
.sns_mo ul{
    display: flex;
}
.f_top{
    position: absolute;
    top: 0;
    right: 0;
}
.f_top a{
    display: inline-block;
    width: 80px;
    height: 60px;
    line-height: 60px;
    background-color: #1e2123;
    text-align: center;
    font-weight: 300;
    font-size: 0.75rem;
    color: #ffff;
    background-image: url(../img/sign.png);
    background-position: 17px -89px;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.sns_pc{
    display: none;
}
/* 푸터 2 */
.foother_pc{
    display: none;
}
.foother_mo{
    text-align: center;
    margin-bottom: 30px;
}
.f2_list1{
    margin-top: 30px;
    margin-bottom: 20px;
}
.f2_list1 ul{
    display: flex;
    justify-content: center;
}
.f2_list1 li::after{
    content: '|';
    display: inline-block;
    width: 1px;
    height: 2px;
    margin-left: 10px;
    margin-right: 10px;
}
.f2_list1 li:last-child::after{
    content: none;
}
.f2_list1 li a{
    color: #707070;
    font-size: 0.83rem;
}
.f_logo_mo{
    margin-bottom: 30px;
}
.f_logo_mo img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
.f_list2{
    margin-bottom: 15px;
}
.f_list2 ul{
    display: flex;
    justify-content: center;
}
.f_list2 li::after{
    content: '|';
    display: inline-block;
    width: 1px;
    height: 2px;
    margin-left: 10px;
    margin-right: 10px;
}
.f_list2 li:last-child::after{
    content: none;
}
.f_list2 li a{
    color: #707070;
    font-size: 0.83rem;
}
.f_etc{
    color: #707070;
}
#quick{
    display: none;
}
/* 모바일 마지막 */
@media screen and (min-width:768px){
    .m3_content li{
        width: calc(100% / 4);
        box-sizing: border-box;
        padding: 10px 10px;
    }
}
/* 태블릿 마지막 */
@media screen and (min-width:1024px){
    .bn_mo{
        display: none;
    }
    .bn_pc{
        display: block;
        margin: 0 auto;
    }
    /* 메인 헤더 */
    #header{
        position: relative;
    }
    #main_header{
        margin: 0 auto;
        width: 100%;
    }
    .ms_mo{
        display: none;
    }
    .ms_pc{
        display: block;
    }
    .mh_in{
        position: relative;
    }
    .main_logo{
        position: absolute;
        top: 0;
        left: 625px;
    }
    .main_logo img{
        width: 30%;
        height: auto;
    }
    .mh_in .material-icons-outlined{
        display: none;
    }
    .mh_in{
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
    }
    .tik{
        display: none;
    }
    .h_pc1{
        display: flex;
        width: 30%;
        float: left;
        padding-top: 25px;
    }
    .hp_1 a{
        display: inline-block;
        height: 42px;
        line-height: 38px;
        text-align: center;
        color: #707070;
        font-size: 0.67rem;
        padding-left: 62px;
        background-image: url(../img/ci.png);
        background-repeat: no-repeat;
        background-position: -17px -1107px;
    }
    .hp_2 a{
        display: inline-block;
        height: 42px;
        line-height: 38px;
        text-align: center;
        color: #707070;
        font-size: 0.67rem;
        padding-left: 62px;
        background-image: url(../img/ci.png);
        background-repeat: no-repeat;
        background-position: -17px -1307px;
    }
    .h_pc2{
        display: block;
    }
    .hp_in{
        float: left;
    }
    .hp_in ul{
        display: flex;
    }
    .hp_in li{
        margin-top: 5px;
        margin-right: 10px;
    }
    .hp_in li a{
        font-family: 300;
        color: #707070;
        font-size: 0.67rem;
    }
    .hp_in .hp_point1 a{
        color: #f26c4f;
    }
    .hp_in .leng a{
        padding-right: 13px;
        background-image: url(../img/sita.png);
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: top 4px right 0;
    }
    .h_search{
        text-align: right;
    }
    .h_search form{
        display: inline-block;
        width: 196px;
        height: 37px;
        margin-top: 13px;
        border: 1px solid #cccccc;
    }
    #keyword{
        width: 151px;
        height: 35px;
        line-height: 31px;
        padding: 0 10px;
        float: left;
        border: none;
        color: #707070;
        font-size: 0.89rem;
        font-size: 300;
    }
    .h1_btn{
        position: absolute;
        right: 20px;
        width: 35px;
        height: 35px;
        float: left;
        border: none;
        text-indent: -9999px;
        background-image: url(../img/diagram.png);
        background-repeat: no-repeat;
        background-position: -2px -200px;
        background-color: #fff;
    }
    #main_list{
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 54px;
        overflow: hidden;
        border-bottom: 1px solid #ddd;
    }
    .hm_list ul{
        display: flex;
        justify-content: center;
    }
    .hm_list li{
        width: 25%;
    }
    .hm_list li a{
        display: inline-block;
        text-align: center;
        width: 100%;
        height: 56px;
        line-height: 56px;
        font-weight: 700;
        color: #000;
        font-size: 1.11rem;
    }
    /* 메인 타이틀 */
    #main_title_mo{
        display: none;
    }
    #main_title_pc{
        display: block;
    }
    .mp_img img{
        width: 100%;
        height: auto;
    }
    .mp_img h2{
        margin-top: -230px;
        font-weight: 500;
        font-size: 2.67rem;
        color: #fff;
        width: 100%;
        text-align: center;
        line-height: 210px;
    }
    .mp_more{
        display: block;
        overflow: hidden;
        white-space: nowrap;
        border-top: 1px solid #e5e5e5;
        margin-top: 20px;
        padding-left: 7px;
        background-color: rgba(0, 0, 0, 0.85);
    }
    .mp_more ul{
        display: flex;
    }
    .mp_more li{
        border-right: 1px solid #e5e5e5;
    }
    .mp_home a{
        display: inline-block;
        width: 40px;
        height: 40px;
        background-image: url(../img/diagram.png);
        background-repeat: no-repeat;
        background-position: 0px -298px;
        text-indent: -9999px;
    }
    .p_syokai{
        width: 20%;
        line-height: 39px;
        margin-left: 10px;
        background-repeat: no-repeat;
        background-position: top 16px right 10px;
        background-size: 9px;
        background-image: url(../img/i.slider-arrow-next.png);
    }
    .p_syokai a{
        padding-right: 115px;
        color: #fff;
    }
    .p_attraction{
        width: 20%;
        line-height: 39px;
        margin-left: 10px;
        background-repeat: no-repeat;
        background-position: top 16px right 10px;
        background-size: 9px;
        background-image: url(../img/i.slider-arrow-next.png);
    }
    .p_attraction a{
        padding-right: 115px;
        color: #fff;
    }
    /* 메인 1 */
    .main1{
        margin-bottom: 50px;
    }
    .m1_03, .m1_pc, .sec_pc{
        display: block;
    }
    .m1_pc{
        display: flex;
        justify-content: center;
    }
    .mp_01{
        border-right: 1px solid #e0e0e0;
    }
    .m1_all{
        display: none;
    }
    .pte_title{
        display: inline-block;
        position: relative;
        font-weight: 200;
        margin: 20px 0;
        padding-left: 30px;
        width: 200px;
        height: 44px;
        background: #3bb375;
        line-height: 40px;
        font-size: 1.11rem;
        color: #ffffff;
    }
    .pte_title::after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        width: 0;
        height: 0;
        border: 22px solid transparent;
        border-left-color: #3bb375;
    }
    .pki_title{
        display: inline-block;
        position: relative;
        font-weight: 200;
        margin: 20px 0;
        padding-left: 30px;
        width: 154px;
        height: 44px;
        background: #3bb375;
        line-height: 40px;
        font-size: 1.11rem;
        color: #ffffff;
    }
    .pki_title::after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        width: 0;
        height: 0;
        border: 22px solid transparent;
        border-left-color: #3bb375;
    }
    .ptema{
        margin-left: 50px;
    }
    .ptema ul{
        display: flex;
    }
    .ptema li{
        width: 20%;
        padding-bottom: 20px;
        font-size: 18px;
        line-height: 80px;
    }
    .ptema li::before{
        content: "";
        display: inline-block;
        width: 26px;
        height: 26px;
        vertical-align: middle;
        margin: 0 8px 0 0;
        background-image: url(../img/sign.png);
        background-repeat: no-repeat;
        background-position: -149px -850px;
    }
    .p_tema{
        display: flex;
    }
    .p_tema ul{
        width: 100%;
        display: flex;
        margin-left: 50px;
        border-bottom: 1px solid #e0e0e0;
    }
    .p_tema li{
        width: 20%;
        padding-bottom: 20px;
        line-height: 80px;
    }
    .p_tema li::before{
        content: '';
        display: inline-block;
        width: 26px;
        height: 26px;
        vertical-align: middle;
        margin: 0 10px 0 0;
        background-image: url(../img/sign.png);
        background-repeat: no-repeat;
        background-position: -213px -1214px;
    }
    .p_tema a{
        font-size: 18px;
        color: #222;
    }
    .p_ki{
        position: relative;
        display: flex;
        margin-top: 20px;
    }
    .pki_in{
        margin-left: 50px;
        margin-top: 40px;
    }
    .pki_in ul{
        display: flex;
        justify-content: space-between;
    }
    .pki_in li{
        margin-right: 8px;
        margin-top: 10px;
        font-size: 16px;
        color: #d6cfcf;
    }
    .p_pick{
        position: absolute;
        top: 65px;
        left: 640px;
    }
    .p_pick a{
        padding-top: 30px;
        background-image: url(../img/point.png);
        background-repeat: no-repeat;
        background-position: top 0 left 10px;
        width: 23px;
        height: 23px;
        color: #222;
        font-size: 16px;
        font-weight: 500;
    }
    .p_progress{
        width: 630px;
        height: 13px;
        margin: 0 auto;
        border-radius: 3px;
        background-color: #c5c5c5;
        margin-right: 10px
    }
    .sec_pc{
        margin-top: 40px;
        margin-left: 15px;
        width: 150px;
        height: 128px;
        line-height: 124px;
        background-color: #ed1d25;
        text-align: center;
    }
    .sec_pc a{
        font-size: 1.22rem;
        font-weight: 500;
        color: #fff;
    }
    /* 메인 2 */
    .main2{
        margin-bottom: 100px;
    }
    /* 메인 3 */
    .main3{
        margin-bottom: 50px;
    }
    .m3_content li{
        width: calc(100% / 5);
        box-sizing: border-box;
        padding: 10px 10px;
    }
    /* 메인 4 */
    .main4{
        margin-bottom: 100px;
    }
    .c3_in img{
        overflow: hidden;
        transition: 0.3s
    }
    .c3_in img:hover{
        transform: scale(1.1);
    }
    /* 푸터 1 */
    #footer1{
        padding-top: 0;
        padding-left: 80px;
        box-sizing: content-box;
    }
    .f_top{
        top: 0;
    }
    .sns_mo{
        display: none;
    }
    .sns_pc{
        display: block;
    }
    .sns_pc ul{
        display: flex;
    }
    .sns_pc li{
        margin-right: 10px;
    }
    .pc_face .f_logo{
        display: inline-block;
        width: 32px;
        height: 32px;
        background-color: #4589ce;
        background-image: url(../img/ci_pc.png);
        background-repeat: no-repeat;
        background-position: 50% -12px;
        border-radius: 16px;
        margin: 0 10px;
        text-indent: -99999px;
    } 
    .pc_face a{
        display: inline-block;
        height: 60px;
        line-height: 4em;
        font-weight: 300;
        color: #fff;
        font-size: 0.83rem;
    }
    .pc_blog .b_logo{
        display: inline-block;
        width: 32px;
        height: 32px;
        background-color: #3eb852;
        background-image: url(../img/ci_pc.png);
        background-repeat: no-repeat;
        background-position: 50% -312px;
        border-radius: 16px;
        margin: 0 10px;
        text-indent: -99999px;
    } 
    .pc_blog a{
        display: inline-block;
        height: 60px;
        line-height: 4em;
        font-weight: 300;
        color: #fff;
        font-size: 0.83rem;
    }
    .pc_ins .i_logo{
        display: inline-block;
        width: 32px;
        height: 32px;
        background-color: #7231a3;
        background-image: url(../img/ci_pc.png);
        background-repeat: no-repeat;
        background-position: 50% -412px;
        border-radius: 16px;
        margin: 0 10px;
        text-indent: -99999px;
    } 
    .pc_ins a{
        display: inline-block;
        height: 60px;
        line-height: 4em;
        font-weight: 300;
        color: #fff;
        font-size: 0.83rem;
    }
    .pc_youbu .y_logo{
        display: inline-block;
        width: 32px;
        height: 32px;
        background-color: #e62c28;
        background-image: url(../img/ci_pc.png);
        background-repeat: no-repeat;
        background-position: 50% -512px;
        border-radius: 16px;
        margin: 0 10px;
        text-indent: -99999px;
    } 
    .pc_youbu a{
        display: inline-block;
        height: 60px;
        line-height: 4em;
        font-weight: 300;
        color: #fff;
        font-size: 0.83rem;
    }
    .pc_tictok .t_logo{
        display: inline-block;
        width: 32px;
        height: 32px;
        background-color: #000;
        background-image: url(../img/ci_pc.png);
        background-repeat: no-repeat;
        background-position: 50% -1410px;
        border-radius: 16px;
        margin: 0 10px;
        text-indent: -99999px;
    } 
    .pc_tictok a{
        display: inline-block;
        height: 60px;
        line-height: 4em;
        font-weight: 300;
        color: #fff;
        font-size: 0.83rem;
    }
    .pc_kakao .k_logo{
        display: inline-block;
        width: 32px;
        height: 32px;
        background-color: #e7b919;
        background-image: url(../img/ci_pc.png);
        background-repeat: no-repeat;
        background-position: 50% -1465px;
        border-radius: 16px;
        margin: 0 10px;
        text-indent: -99999px;
    } 
    .pc_kakao a{
        display: inline-block;
        height: 60px;
        line-height: 4em;
        font-weight: 300;
        color: #fff;
        font-size: 0.83rem;
    }
    /* 푸터 2 */
    #footer2{
        margin-bottom: 50px;
    }
    .foother_mo{
        display: none;
    }
    .foother_pc{
        margin-top: 35px;
        display: flex;
        justify-content: center;
    }
    .f_logo_pc{
        margin-right: 50px;
    }
    .fp_list1{
        position: relative;
        margin-bottom: 20px;
    }
    .fp_list1 ul{
        display: flex;
    }
    .fp_list1 li::after{
        content: '|';
        display: inline-block;
        width: 1px;
        height: 2px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .fp_list1 li:last-child::after{
        content: none;
    }
    .fp_list1 li a{
        color: #707070;
        font-size: 0.83rem;
    }
    .f2_more{
        position: absolute;
        top: 0;
        right: 0;
        height: 36px;
    }
    .f2_more a{
        line-height: 20px;
        font-weight: 300;
        font-style: 0.75rem;
        color: #8a8a8a;
        padding: 10px;
        border: 1px solid #8a8a8a;
    }
    .fp_list2 ul{
        display: flex;
    }
    .fp_list2 li::after{
        content: '|';
        display: inline-block;
        width: 1px;
        height: 2px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .fp_list2 li:last-child::after{
        content: none;
    }
    .fp_list2 li a{
        color: #707070;
        font-size: 0.83rem;
    }
    .foother_pc .f_etc{
        color: a1a1a1;
        font-size: 0.75rem;
    }
} /* 1024px 마지막 */
@media screen and (min-width:1420px){
/* 탑 베너 */
.bn_point{
    max-width: 1420px;
    margin: 0 auto;
}
.bn_mo{
    display: none;
}
.bn_pc{
    display: block;
}
#topBn{
    max-width: 1420px;
    margin: 0 auto;
}
.mh_in{
    max-width: 1420px;
    margin: 0 auto;
}
.hm_list{
    max-width: 1420px;
    margin: 0 auto;
}
#main_title_pc{
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
}
.main1{
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
}
.main2{
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
}
.main3{
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
}
#footer{
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
}
#footer1{
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
}
#footer2{
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
}
} /* 1420px 마지막 */